<div class="row" >
<div class="card height-auto col-md-5 col-sm-12  mr-auto">
    <div class="card-body">
      <div class="table-responsive">
        <table id="example" class="table display data-table text-nowrap cell-border">
          <thead>
            <tr>
              <th>Admin Name</th>
              <th>Type</th>
              <th>Address</th>
              <th>Intek</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>hostelName </td>
              <td>hostel.type </td>
              <td>hostel.address </td>
              <td>hostel.intake</td>
              <td>
                <a  data-toggle="modal" data-target="#myModal">
                    <i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                <a><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
              </td>
            </tr>
  
          </tbody>
        </table>
  
      </div>
    </div>
  </div>
  <div class="card height-auto col-md-6 col-sm-12 ">
    <div class="card-body">
      <div class="table-responsive">
        <table id="example" class="table display data-table text-nowrap cell-border">
          <thead>
            <tr>
              <th>Admin Name</th>
              <th>Type</th>
              <th>Address</th>
              <th>Intek</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>hostelName </td>
              <td>hostel.type </td>
              <td>hostel.address </td>
              <td>hostel.intake</td>
              <td>
                <a  data-toggle="modal" data-target="#myModal">
                    <i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                <a><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
              </td>
            </tr>
  
          </tbody>
        </table>
  
      </div>
    </div>
  </div>
</div>
  
  
  
   