<!-- <h1>just-dial-app: Path configuraton</h1> -->
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- <nav>
  <ul>
    <li><a routerLink="/app-dashboard" >First Component</a></li>
  </ul>
  <ul>
    <li><a routerLink="/app-home" >Second Component</a></li>
  </ul>
</nav> -->
<!-- The routed views render in the <router-outlet>-->

<div>
  <router-outlet></router-outlet>
</div>


<!-- <router-outlet name='child2'></router-outlet> -->