 <!-- <img src="" alt="LOGO"> -->
 <div class="navbar">
 <h1 class="logo">Just Dial</h1>
 <ul>
  <li><a href="" style="text-decoration: none;"><h2>Omkar Powar</h2></a></li> 
  <li><div class="dropdown">
    <img class="dropbtn" src="../../../assets/images/NQTphoto.jpg" height="50px" width="50px"/>
    <div class="dropdown-content">
      <a (click)="clicked1()">Profile</a>
      <a (click)="clicked()">Messages</a>
      <a routerLink="/app-home">Logout</a>
    </div>
  </div>
  </li>
 </ul>
</div>